<!doctype html>
<html>
<%- include('./templates/head'); %>
<link href="/stylesheets/image_container_styles.css" rel="stylesheet" />
<link href="/stylesheets/index_header_styles.css" rel="stylesheet" />
<link href="/stylesheets/book_card_styles.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">

</head>
  <body>
    <main>
      <%- include('./templates/navbar'); %>

      <article>
        <div class="heading">
          <p class="heading-title">Album Example</p>
          <div class="heading-text">
            Something short and leading about
            the collection below—its <br /> contents,
            the creator, etc. Make it short and sweet,
            but not too short <br /> so folks don’t simply skip over it entirely.
          </div>
          <div>
            Year:
            <select id="yearDropdown">
              <option value="">Select Year</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
            </select>
          </div>


          <div class="month-buttons">
            <div class="month-buttons-row">

              <div class="col-md-2">
                <input id="jan" class="asButton" name="monthCheckbox" type="checkbox" value="1"><label
                  for="jan">January</label>
              </div>
              <div class="col-md-2">
                <input id="feb" class="asButton" name="monthCheckbox" type="checkbox" value="2"><label
                  for="feb">February</label>
              </div>
              <div class="col-md-2">
                <input id="mar" class="asButton" name="monthCheckbox" type="checkbox" value="3"><label
                  for="mar">March</label>
              </div>
              <div class="col-md-2">
                <input id="apr" class="asButton" name="monthCheckbox" type="checkbox" value="4"><label
                  for="apr">April</label>
              </div>
              <div class="col-md-2">
                <input id="may" class="asButton" name="monthCheckbox" type="checkbox" value="5"><label
                  for="may">May</label>
              </div>
              <div class="col-md-2">
                <input id="jun" class="asButton" name="monthCheckbox" type="checkbox" value="6"><label
                  for="jun">June</label>
              </div>


            </div>

            <div class="month-buttons-row">
              <div class="col-md-2">
                <input id="jul" class="asButton" name="monthCheckbox" type="checkbox" value="7"><label
                  for="jul">July</label>
              </div>
              <div class="col-md-2">
                <input id="aug" class="asButton" name="monthCheckbox" type="checkbox" value="8"><label
                  for="aug">August</label>
              </div>
              <div class="col-md-2">
                <input id="sep" class="asButton" name="monthCheckbox" type="checkbox" value="9"><label
                  for="sep">September</label>
              </div>
              <div class="col-md-2">
                <input id="oct" class="asButton" name="monthCheckbox" type="checkbox" value="10"><label
                  for="oct">October</label>
              </div>
              <div class="col-md-2">
                <input id="nov" class="asButton" name="monthCheckbox" type="checkbox" value="11"><label
                  for="nov">November</label>
              </div>
              <div class="col-md-2">
                <input id="dec" class="asButton" name="monthCheckbox" type="checkbox" value="12"><label
                  for="dec">December</label>
              </div>

            </div>
          </div>

          <div class="header-buttons">
            <button id="get_books" class="primary-button add-cursor">
              Get Books
            </button>
            <button id="get_storygraph" class="secondary-button add-cursor">
              Get Storygraph
            </button>
            <button id="save_image" class="secondary-button add-cursor">
              Save Image<a id="download" href="#"></a>
            </button>
            <div style="display: none;" id="storygraph_return_content"></div>
          </div>
        </div>

        <%- include('./templates/container-styling'); %>



          <%- include('./templates/books-container'); %>

        </div>
      </article>
      <footer class="footer">
        <p>
          Album example is © Bootstrap, but please download and customize it for yourself!

          New to Bootstrap? <a class="footer-link" href="#">Visit the homepage</a> or read our <a class="footer-link"
            href="#">getting started guide</a>.
        </p>
        <a class="back-top footer-link" href="#">Back Top</a>
      </footer>
    </main>
  </body>
  <%- include('./templates/foot'); %>


</html>